<% action = user.persisted? ? user_url(user) : users_url %>
<% method = user.persisted? ? "PUT" : "POST" %>
<% button_text = user.persisted? ? "Sign In" : "Sign Up" %>

<h1>Welcome to Vendrio!</h1>

<div class="user_auth_form">
  <form action="<%= action %>" method="post">
    <input type="hidden" name="_method" value="<%= method %>">
    <%= auth_token %>

    <input class="user_name" type="text" name="user[username]" value="Username">

    <input class="pass" type="password" name="user[password]">

    <input class="user_auth_button" type="submit" value="<%= button_text %>">

  </form><br>
  <div class="link">
    <%= link_to "Sign In", new_session_url %>
  </div>
</div>
