<!DOCTYPE tml>
<html>
<head>
  <title>Vendrio</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>

<% if flash[:errors] %>
  <ul>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<body class="main">

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
