<!DOCTYPE tml>
<html>
<head>
  <title>Vendrio</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAS6yGZ3n2VOYIWAFTRLSmeq2-P8TYSy3s&libraries=places"></script>
  <script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>
</head>
<% if flash[:errors] %>
  <ul>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
<body class="main">

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
